@import url(../scss/_perehod.scss);

.header_balance {
  border: 0.8px solid rgba(142, 142, 142, 1);
  border-radius: 15px;
  background: linear-gradient(
    270deg,
    rgba(38, 38, 38, 1),
    rgba(84, 84, 84, 1) 100%
  );
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
